%script{:type=>"text/javascript",:src=>"scripts/jscolor/jscolor.js"}
%link{:href=>"fonts.css",:rel=>"stylesheet"}
.leaderboard
  %h1 Spice
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 33.33%"}
  %p Just make those few lines of love look good. They say
  %blockquote 
    %p Love was a feeling completely bound up with color, like thousands of rainbows superimposed one on top of the other
    %small Paulo Coelho
.row
  .span12
    .container
      .span3
        %form  
          %ul#tool_box
            %li 
              %h3
                %i{:class=>"icon-picture"}
                Background Color
              #bck_color
                %input.color{:name=>'bg_color',:onchange=>"document.getElementById('bg_image').style.backgroundColor = '#'+this.color; document.getElementById('background_color').value='#'+this.color;"}
            %li
              %h3 
                %i{:class=>"icon-pencil"}
                Font Color
              #fnt_color
                %input.color{:name=>'font_color',:onchange=>"document.getElementById('lyrics_image').style.color = '#'+this.color; document.getElementById('text_color').value='#'+this.color;"}
            %li
              %h3 
                %i{:class=>"icon-font"}
                Font
              #fnt_slctr
                %select#fonts{:onchange=>"document.getElementById('lyrics_image').style.fontFamily=this.value;document.getElementById('font_type').value=this.value;"}
                  -Dir.foreach('public/fonts') do |font|
                    -next if font == '.' or font == '..'
                    =font.gsub!(/\..*/,"").strip!
                    %option{:id=>font.downcase}
                      =font
  

      .span8
        #preview_box
          %h3 Preview
          %p The preview widget isn't fixed yet, please wait for some moments until the font load, also don't worry if the contents overflow. It will be fixed in your real card.
          #bg_image
            -font_size = @sel[:font_size]
            #lyrics_image{:style=>"font-size:#{font_size}px;"}
              -@sel[:lyrics].each do |line|
                .line{:style=>"line-height:#{font_size+5}px"}
                  = line
      .span8
        %form{:action=>"show",:method=>"post"}
          %input{:type=>"hidden",:name=>"text_color",:id=>"text_color"}
          %input{:type=>"hidden",:name=>"background_color",:id=>"background_color"}
          %input{:type=>"hidden",:name=>"font_type",:id=>"font_type"}
          %input{:type=>"hidden",:name=>"font_size",:id=>"font_size",:value=>"#{@sel[:font_size]}"}
          %input{:type=>"hidden",:name=>"card_type",:id=>"card_type"}
          %input{:type=>"hidden",:name=>"card_content",:id=>"card_content",:value=>"#{@sel[:lyrics].join('\n')}"}
          %input{:type=>"hidden",:name=>"top_x",:id=>"top_x",:value=>0}
          %input{:type=>"hidden",:name=>"top_y",:id=>"top_y",:value=>0}
          %input{:type=>"hidden",:name=>"bottom_x",:id=>"bottom_x",:value=>2}
          %input{:type=>"hidden",:name=>"bottom_y",:id=>"bottom_y",:value=>2}
          %input{:type=>"hidden",:name=>"max_len",:value=>"#{@sel[:max_len]}"}
          %button{:type=>"submit"}Show my card